body {
    background-color: rgb(194, 213, 194);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.navigation {
    margin: auto;
    display: flex;
    width: 1200px;
    background-color: rgb(248, 141, 9);

    .search {
        display: flex;
    }
}

.home {
    width: 1200px;
    margin: auto;
    background-color: aquamarine;
}

.place {
    margin: auto;

    width: 1200px;
    padding: 10px;
    justify-content: center;
    background-image: linear-gradient(rgb(222, 211, 211), rgb(194, 213, 194));


    .placeBut {

        display: flex;
        justify-content: space-around;

        .paper {
            width: 205px;
            height: 42px;
            margin: 4px;

            .base {
                padding-left: 8px;
                width: 150px;

            }
        }

    }


}

.guestCast {
    margin: auto;
    width: 1200px;
    text-align: left;
    padding-left: 20px;
    background-color: rgb(206, 206, 206);
    font-size: 24px;
}

.gridTv {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: 1200px;
    gap: 0px;
    background-image: linear-gradient(rgb(222, 211, 211), rgb(194, 213, 194));
    font-size: 18px;

    .gridItem {
        padding: 3px;
        max-width: 200px;

        text-align: center;

        img {
            width: 198px;
            cursor: pointer;


        }

        .showName {
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
            margin: 1px;

            &:hover {
                color: chocolate;
            }
        }

        .genresTv {
            font-size: 16px;
            display: flex;
            padding: 0px;
            margin: 1px;
            padding-left: 3px;

            li {
                list-style: none;
                padding-right: 4px;
            }
        }
    }
}

.showActor {
    display: flex;
}

.searchMain {
    margin: auto;
    padding-top: 120px;
    width: 1200px;
    height: 1400px;
    font-size: 26px;
    color: rgb(5, 85, 58);
    text-shadow: 2px 2px 5px gray;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(rgb(222, 211, 211), rgb(194, 213, 194));

}

.showMain,
.showActor {
    margin: auto;
    width: 1200px;

    background-image: linear-gradient(rgb(222, 211, 211), rgb(194, 213, 194));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    padding: 10px;

    .borderBotom {
        border-bottom: 1px solid rgb(98, 112, 97);

        p {
            margin: 2px;
        }
    }

    .wrap {

        color: blue;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            color: chocolate;
        }
    }

    .sezone {

        padding-left: 6px;
        font-size: 18px;
        width: 400px;
        max-width: 400px;
        max-height: 60px;
        overflow-y: hidden;
        overflow-y: scroll;

        p {
            margin: 3px 0px;
        }
    }

    .bigImg {
        width: 1180px;

        text-align: center;
    }

    .clickShow {
        font-weight: bold;
        font-size: 26px;
        cursor: pointer;
        width: 300px;

        &:hover {
            color: chocolate;
        }
    }

    .showCast {
        border-bottom: 2px solid rgb(160, 159, 159);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: #cccccc;
    }

    .holdImg {
        padding-right: 10PX;

        .imgShow {
            margin-top: 2px;
            min-width: 500px;
            max-width: 500px;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    .imgEpisode {
        min-width: 400px;
        max-width: 400px;
        border-radius: 8px;
    }

    .number {
        padding-left: 30px;
        font-size: 22px;
        font-weight: bold;
        width: 100px;
    }

    .showName {
        padding: 2px 10px;
        font-weight: bold;
        font-size: 28px;
    }

    .airDate {
        width: 70px;
    }



    .showNameActor {
        padding: 2px 30px;
        font-weight: bold;
        font-size: 28px;
        cursor: pointer;

        &:hover {
            color: chocolate;
        }

    }

    .forSummary {
        display: flex;
        flex-direction: row;
    }

    .summary {
        margin-left: 5px;
        max-width: 395px;
        min-width: 395px;
        padding: 10px 15px;
        font-size: 24px;
        border: 1px solid rgb(121, 121, 121);
        border-radius: 19px;
    }

    .language {
        padding: 2px 10px;
        font-weight: bold;
        min-width: 335px;
        max-width: 335px;
    }

    a {
        padding-left: 8px;
    }

    .genres {
        display: flex;
        font-size: 20px;

        list-style: none;
        padding: 0px 5px 0px 2px;
        // border-bottom: 1px solid gray;

        li {
            padding-right: 5px;
        }
    }







    a {
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: coral;
        }
    }



    .imgCastMain {
        // margin: auto;
        max-width: 1180px;
        overflow-y: hidden;
        overflow-x: scroll;

        .guest {
            display: flex;

            width: 500px;

            .guestImgClick,
            .guestImg {
                width: 245px;
            }

            .guestImgClick {
                cursor: pointer;
            }
        }

        .guestName {
            display: flex;
            justify-content: space-between;

            .click {
                cursor: pointer;
                padding-right: 30px;

                &:hover {
                    color: chocolate;
                }
            }
        }

        .imgCast {
            // display: flex;
            // flex-direction: row;
            min-width: 240px;


            //  padding-right: 5px;
            // justify-content: end;

            p {
                cursor: pointer;

                &:hover {
                    color: chocolate;
                }
            }
        }
    }

    .nameComm {
        font-size: 24px;
        width: 800px;

        ul {
            padding: 0;
        }

        li {
            list-style: none;
            padding: 0;
        }
    }

    .collapseTv {
        display: flex;
        flex-direction: row;
        background-color: #DFFF00;



    }

    .tvName {
        width: 300px;
        font-weight: bold;
    }

    th {
        text-align: left;
    }

    .imgTv {
        width: 60px;
        padding: 5px;
    }
}

.sezoneList {
    display: flex;
    margin: auto;
    width: 1200px;
    background-image: linear-gradient(rgb(222, 211, 211), rgb(194, 213, 194));
    font-family: Tahoma, Geneva, Verdana, sans-serif;

    .epNumber {
        font-size: 20px;
        font-weight: bold;
        margin: 1px;
    }

    .epName {
        margin: 1px;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        width: 300px;
    }

    p {
        margin: 1px;
    }

    .episName {
        width: 200px;
    }

    .summaryEpis {
        width: 540px;
    }

    .imgSezons {
        min-width: 450px;
        padding: 5px;
    }

    .sezonNum {
        font-size: 25px;
        font-weight: bold;
        width: 50px;
    }

    .sezonDate {
        width: 250px;
        padding-left: 15px;
        font-weight: bold;
    }

    .summEpis {
        width: 450px;
        padding: 10px 15px;
        font-size: 22px;
        border: 1px solid rgb(121, 121, 121);
        border-radius: 19px;

    }

    p {
        width: 100px;
    }
}

.footer {
    text-align: center;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

@media screen and (max-width: 500px) {
    .searchMain {
        width: 355px;
        font-size: 20px;
    }

    .guestCast {

        width: 345px;

        padding-left: 10px;

        font-size: 14px;
    }

    .showActor {
        display: block;
        width: 355px;
        font-size: 14px;
        padding: 5px;

        .holdImg {
            padding: 2px;

            .imgShow {
                max-width: 345px;
                min-width: 345px;
            }
        }

        .forSummary {
            flex-direction: column;
        }

        .summary {
            font-size: 18px;
        }

        a {
            font-size: 16px;
        }

        .language {
            padding: 1px 4px;
            max-width: 150px;
            min-width: 150px;
        }

        .showCast {
            max-width: 350px;
        }

        .clickShow {
            font-size: 18px;
            max-width: 150px;

            .genres {
                font-size: 16px;
            }
        }

        .showName {
            padding: 1px 5px;

            font-size: 22px;
            max-width: 350px;
        }

        .genres {
            font-size: 14px;
        }

        .sezone {

            padding-left: 4px;
            font-size: 16px;
            width: 335px;
            max-width: 335px;
            max-height: 55px;

        }
    }

    .place {
        width: 355px;

        .placeBut {
            padding: 2px;

            display: block;
        }

    }


    .gridTv {

        grid-template-columns: auto auto auto;
        width: 355px;
        background-image: linear-gradient(#c8e6c9, #dcedc8);


        font-size: 16px;

        .gridItem {


            max-width: 110x;
            padding: 0px;



            img {
                width: 108px;
                cursor: pointer;


            }

            .showName {
                font-size: 18px;

            }

            .genresTv {
                // max-width: 105px;
                font-size: 14px;
                display: flex;


                li {
                    list-style: none;
                    padding-right: 3px;
                }
            }
        }
    }


    .showActor {
        width: 355px;

        .imgCastMain {
            // margin: auto;
            max-width: 345px;



            .guest {
                display: flex;

                width: 200px;

                .guestImgClick,
                .guestImg {
                    width: 100px;
                }
            }

            .guestName {
                display: flex;
                justify-content: space-between;
                height: 50px;

                p {
                    width: 100px;
                    font-size: 12px;
                    padding-left: 3px;
                }

                .click {
                    font-size: 12px;
                    cursor: pointer;
                    text-align: right;
                    padding-right: 5px;
                    width: 100px;

                }
            }

            .imgCast {

                min-width: 100px;
            }
        }


        .wrap {
            font-size: 16px;
        }

        .bigImg {
            width: 345px;
        }

        .imgEpisode {
            min-width: 345px;
            max-width: 345px;
        }

        .number {
            padding-left: 15px;
            font-size: 18px;
        }

        .summary {
            margin-left: 0px;
            max-width: 345px;
            min-width: 345px;
        }
    }

    .sezoneList {
        display: block;
        margin: auto;
        width: 355px;
        background-image: linear-gradient(rgb(222, 211, 211), rgb(194, 213, 194));
        font-family: Tahoma, Geneva, Verdana, sans-serif;


        .episName {
            width: 200px;
        }

        .epNumber {
            font-size: 16px;
        }

        .epName {
            font-size: 18px;
            width: 350px;
        }

        .summaryEpis {
            width: 345px;
        }

        .imgSezons {
            min-width: 345px;
            padding: 2px;
        }

        .sezonNum {
            font-size: 18px;

            width: 50px;
        }

        .sezonDate {
            width: 250px;
        }

        .summEpis {
            width: 350px;
            padding: 5px 5px;
            font-size: 18px;

            border-radius: 5px;

        }
    }

    .showMain {

        width: 350px;

        .bigImg {
            width: 340px;
        }

        .holdImg {
            padding-right: 2px;

            .imgShow {
                padding-right: 3px;
                min-width: 115px;
                max-width: 115px;
            }
        }

        .showNameActor {
            font-size: 22px;
        }

        a,
        .language {
            min-width: 104px;
            max-width: 104px;
            font-size: 14px;
        }

        .summary {
            max-width: 100px;
            font-size: 14px;
            border-radius: 5px;
        }

        td,
        .genres {
            font-size: 14px;
        }
    }

    .footer {
        font-size: 14px;
    }

}